@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,600);
/* ==========================================================================
   Only import other files in this file
   Author: John Oxton-King for http://mrandmrsok.com
   ========================================================================== */
/* ==========================================================================
   Useful mixins 
   ========================================================================== */
/* ==========================================================================
    Typography mixins - all with + px and then + rem are fallbacks for
    browsers that don't recognise rem
   ========================================================================== */
/* ==========================================================================
    Margin and padding mixins
   ========================================================================== */
/* ==========================================================================
    Standard box shadow
   ========================================================================== */
/* ==========================================================================
    Transitions
   ========================================================================== */
/* to use: @include transition(property time effect); (can take multiple arguments e.g. color 0.3s ease, border-color 0.3s ease) */
/* ==========================================================================
    Border radius
   ========================================================================== */
/* to use: @include border-radius(radius); (can take multiple arguments e.g. 2em 0 for different radius on different corners) */
/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
Scales - Based on http://modularscale.com/scale/?px1=16&px2=18&ra1=1.333&ra2=0
========================================================================== */
/* @group modular scale calculator use Ems@16 */
/* http://modularscale.com/scale/?px1=19&px2=14&ra1=1.618&ra2=0 */
/* current accepted 'default' pixel size browsers use */
/* $a-scale is based on $base-number */
/* this is the base font size */
/* $a-scale-- is based on $a-scale and gives smaller numbers */
/* b-scale is based on $important-number */
/* these are additional numbers based on $important-number */
/* $b-scale- is based on $important-number and gives smaller numbers */
/* @end */
/* ==========================================================================
Colours
========================================================================== */
/* ==========================================================================
Font Stack    
========================================================================== */
/* ==========================================================================
Line heights
========================================================================== */
/* ==========================================================================
Padding
========================================================================== */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* ==========================================================================
   General gridsetting and additional stuff outside of gridset.scss
   ========================================================================== */
/* ==========================================================================
   Make everything work out what size it should be if we add padding and 
   borders and width is set to 100%, for example.
   http://www.paulirish.com/2012/box-sizing-border-box-ftw/
   ========================================================================== */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ==========================================================================
   Put each section on the grid with .inner, parent gives proportional 
   padding to vertical edges but allows for full width images/coloured 
   backgrounds etc.
   ========================================================================== */
/* section specific styles */
section, header, nav, footer {
  clear: both; }

/* introduction */
#introduction {
  background: #138c8f;
  color: #f7f9f9; }
  #introduction a, #introduction a:visited {
    color: #f7f9f9;
    border-bottom: 1px solid #f7f9f9; }
    #introduction a:hover, #introduction a:visited:hover {
      color: #333333;
      border-color: #333333; }

/* call to action */
#calltoaction {
  background: #f0f3f3;
  background: rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 100;
  padding-top: 56.83202px;
  padding-top: 3.552rem;
  padding-bottom: 38.83202px;
  padding-bottom: 2.427rem; }

/* what we are doing */
#whatwedo {
  padding-top: 56.83202px;
  padding-top: 3.552rem;
  padding-bottom: 38.83202px;
  padding-bottom: 2.427rem;
  position: relative; }
  #whatwedo:before {
    content: " ";
    position: absolute;
    top: -15%;
    left: 30%;
    right: -30%;
    bottom: 60%;
    background: url(../img/cotton-orange.svg) center center no-repeat;
    background-size: contain;
    opacity: 0.1;
    z-index: -200; }

/* why do we care */
#whycare {
  background: #466e8c;
  position: relative;
  color: #f7f9f9;
  padding-top: 56.83202px;
  padding-top: 3.552rem; }
  #whycare:before {
    content: " ";
    position: absolute;
    top: 20%;
    left: -50%;
    right: 50%;
    bottom: 5%;
    background: url(../img/diamond.svg) center center no-repeat;
    background-size: contain;
    opacity: 0.05; }
  #whycare .bq-container {
    background: #4f7b9d;
    padding: 21.328px;
    padding: 1.333rem; }

/* our story */
#ourstory {
  padding-top: 56.83202px;
  padding-top: 3.552rem;
  padding-bottom: 38.83202px;
  padding-bottom: 2.427rem; }

#meetteam {
  background: #f0f3f3; }
  #meetteam .inner {
    background: #f7f9f9;
    padding-bottom: 38.83202px;
    padding-bottom: 2.427rem; }
  #meetteam img {
    border-radius: 100%;
    max-width: 150px;
    height: auto; }

/* get involved */
#getinvolved {
  padding-top: 56.83202px;
  padding-top: 3.552rem;
  margin-bottom: 38.83202px;
  margin-bottom: 2.427rem;
  position: relative; }
  #getinvolved:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 22%;
    right: 30%;
    bottom: 0%;
    background: url(../img/phone-blue.svg) center center no-repeat;
    background-size: contain;
    opacity: 0.1;
    z-index: -200; }

/* our thinking */
#ourthinking {
  background: #138c8f;
  text-align: center;
  padding-top: 56.83202px;
  padding-top: 3.552rem;
  padding-bottom: 38.83202px;
  padding-bottom: 2.427rem;
  color: #f7f9f9; }
  #ourthinking .container {
    background: #138c8f url(../img/fish.svg) center top no-repeat;
    background-size: 20% auto; }
  #ourthinking h2 {
    text-align: left; }
  #ourthinking a {
    color: #f7f9f9;
    border-bottom: 1px solid #f7f9f9; }

/* Bricks shared styles */
.bricks {
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
  background: #9e1c10; }
  .bricks li {
    padding: 16px;
    padding: 1rem;
    background: #9e1c10;
    border: 1px solid #951a0f;
    color: #f7f9f9;
    font-size: 16px;
    font-size: 1rem; }
  .bricks li + li {
    background: #d75b36;
    border: 1px solid #cb4e28; }
  .bricks li + li + li {
    background: #9e1c10;
    border: 1px solid #951a0f; }
  .bricks li + li + li + li {
    background: #d75b36;
    border: 1px solid #cb4e28; }
  .bricks li + li + li + li + li {
    background: #9e1c10;
    border: 1px solid #951a0f; }
  .bricks li + li + li + li + li + li {
    background: #d75b36;
    border: 1px solid #cb4e28; }

#whycare .bricks {
  background: #3e617b; }
  #whycare .bricks li {
    padding: 16px;
    padding: 1rem;
    background: #3e617b;
    border: 1px solid #3a5b74;
    color: #f7f9f9;
    font-size: 16px;
    font-size: 1rem; }
  #whycare .bricks li + li {
    background: #138c8f;
    border: 1px solid #128386; }
  #whycare .bricks li + li + li {
    background: #3e617b;
    border: 1px solid #3a5b74; }
  #whycare .bricks li + li + li + li {
    background: #138c8f;
    border: 1px solid #128386; }
  #whycare .bricks li + li + li + li + li {
    background: #3e617b;
    border: 1px solid #3a5b74; }
  #whycare .bricks li + li + li + li + li + li {
    background: #138c8f;
    border: 1px solid #128386; }

/* For small screens such as smartphones */
@media only screen and (min-width: 320px) and (max-width: 959px) {
  section, header, nav, .footer {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%; }

  nav {
    display: none;
    /*todo use @extend .visuallyhidden */ }

  #introduction {
    font-size: 18px;
    text-align: center; }

  .inner {
    display: block;
    float: left;
    margin-left: 3%;
    margin-right: -100%;
    width: 94.12153%;
    clear: left; }

  #meetteam {
    text-align: center; }

  .bricks {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    clear: left; } }
/* For medium screens such as tablets in landscape */
/* @media only screen and (min-width:960px) and (max-width:1366px){
    section, header, nav, footer{
    @include gs-span(l, all);
  }
   .inner{
    @include gs-span(l, 2,10);
    margin-bottom:21px;
  }
} */
/* For big screens, essentially using gutters to try and keep the line lengths in check */
@media only screen and (min-width: 960px) {
  section, header, nav, footer {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%; }

  /* navigation */
  nav ol {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none; }
  nav li {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 20.0303%;
    display: block;
    text-align: center; }
    nav li a, nav li a:visited {
      color: #f7f9f9;
      display: block;
      font-weight: 600;
      min-height: 200px;
      padding-top: 21px;
      text-decoration: none;
      border: none;
      background: #d75b36 url(../img/cotton.svg) center center no-repeat;
      -webkit-transition: background-color 0.5s ease;
      -moz-transition: background-color 0.5s ease;
      -o-transition: background-color 0.5s ease;
      transition: background-color 0.5s ease; }
      nav li a:hover, nav li a:visited:hover {
        color: #f7f9f9;
        background-color: #333333;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease; }
  nav li + li {
    display: block;
    float: left;
    margin-left: 20.0303%;
    margin-right: -100%;
    width: 19.9899%; }
    nav li + li a {
      background: #9e1c10 url(../img/diamond.svg) center center no-repeat; }
  nav li + li + li {
    display: block;
    float: left;
    margin-left: 40.0202%;
    margin-right: -100%;
    width: 20%; }
    nav li + li + li a {
      background: #466e8c url(../img/tree.svg) center center no-repeat; }
  nav li + li + li + li {
    display: block;
    float: left;
    margin-left: 60.0202%;
    margin-right: -100%;
    width: 20%; }
    nav li + li + li + li a {
      background: #d75b36 url(../img/phone.svg) center center no-repeat; }
  nav li + li + li + li + li {
    display: block;
    float: left;
    margin-left: 80.0202%;
    margin-right: -100%;
    width: 20%; }
    nav li + li + li + li + li a {
      background: #9e1c10 url(../img/fish.svg) center center no-repeat; }

  /* general layout */
  .inner {
    display: block;
    float: left;
    margin-left: 9%;
    margin-right: -100%;
    width: 82.0248%;
    clear: left; }

  .text-container {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 75.91436%; }

  #whycare .text-container {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 48.17128%;
    clear: left; }
  #whycare .bq-container {
    display: block;
    float: left;
    margin-left: 51.82872%;
    margin-right: -100%;
    width: 48.17128%; }

  #calltoaction .container1 {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 72.25693%; }
  #calltoaction .container2 {
    display: block;
    float: left;
    margin-left: 75.91436%;
    margin-right: -100%;
    width: 24.08564%; }
    #calltoaction .container2 .button a {
      display: block;
      text-align: center; }

  #introduction {
    padding-bottom: 67.33963px;
    padding-bottom: 4.20873rem;
    padding-top: 67.33963px;
    padding-top: 4.20873rem; }
    #introduction .logo {
      display: block;
      float: left;
      margin-left: 12%;
      margin-right: -100%;
      width: 16.7562%; }
      #introduction .logo img {
        width: 100%;
        height: auto; }
    #introduction .hero {
      display: block;
      float: left;
      margin-left: 31.7562%;
      margin-right: -100%;
      width: 56.2686%;
      font-size: 24px; }

  #ourstory {
    background: transparent url(../img/logos.png) 0% 21px repeat-x;
    background-size: 70% auto;
    padding-top: 75.75708px;
    padding-top: 4.73482rem; }

  #meetteam {
    background: transparent url(../img/chair.jpg) top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 140px; }
    #meetteam .inner {
      position: relative;
      z-index: 200; }
      #meetteam .inner:before {
        content: " ";
        position: absolute;
        top: -20px;
        right: -20px;
        left: -20px;
        bottom: -20px;
        border: 20px solid rgba(255, 255, 255, 0.4);
        z-index: -1000; }
      #meetteam .inner ul {
        display: block;
        float: left;
        margin-left: 3.65743%;
        margin-right: -100%;
        width: 92.68514%;
        position: relative; }
        #meetteam .inner ul li {
          display: block;
          float: left;
          margin-left: 0;
          margin-right: -100%;
          width: 74.01348%;
          clear: left;
          list-style: none;
          margin-bottom: 38.83202px;
          margin-bottom: 2.427rem; }
          #meetteam .inner ul li .img-container {
            display: block;
            float: left;
            margin-left: 0;
            margin-right: -100%;
            width: 29.77895%; }
          #meetteam .inner ul li .container {
            display: block;
            float: left;
            margin-left: 35.11052%;
            margin-right: -100%;
            width: 64.88948%; }
          #meetteam .inner ul li p {
            font-size: 16px;
            font-size: 1rem; }
          #meetteam .inner ul li img {
            width: 100%;
            max-width: 300px;
            margin-bottom: 18px;
            margin-bottom: 1.125rem; }
          #meetteam .inner ul li ul {
            width: 100%;
            margin: 0;
            font-size: 16px;
            font-size: 1rem; }
            #meetteam .inner ul li ul li {
              margin: 0;
              margin-bottom: 18px;
              margin-bottom: 1.125rem;
              width: auto;
              clear: none;
              float: none; }
        #meetteam .inner ul li + li {
          display: block;
          float: left;
          margin-left: 0;
          margin-right: -100%;
          width: 22.04044%;
          clear: left; }
        #meetteam .inner ul li + li + li {
          display: block;
          float: left;
          margin-left: 25.98652%;
          margin-right: -100%;
          width: 22.04044%;
          clear: none; }
        #meetteam .inner ul li + li + li + li {
          display: block;
          float: left;
          margin-left: 51.97304%;
          margin-right: -100%;
          width: 22.04044%; }
        #meetteam .inner ul li + li + li + li + li {
          display: block;
          float: left;
          margin-left: 77.95956%;
          margin-right: -100%;
          width: 22.04044%; }
        #meetteam .inner ul li + li + li + li + li + li {
          display: block;
          float: left;
          margin-left: 0;
          margin-right: -100%;
          width: 22.04044%;
          clear: left; }
        #meetteam .inner ul li + li + li + li + li + li + li {
          display: block;
          float: left;
          margin-left: 25.98652%;
          margin-right: -100%;
          width: 22.04044%;
          clear: none; }
        #meetteam .inner ul li + li + li + li + li + li + li + li {
          display: block;
          float: left;
          margin-left: 51.97304%;
          margin-right: -100%;
          width: 22.04044%; }
        #meetteam .inner ul li + li + li + li + li + li + li + li + li {
          display: block;
          float: left;
          margin-left: 77.95956%;
          margin-right: -100%;
          width: 22.04044%; }

  .bricks {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%; }
    .bricks span {
      display: table-cell;
      vertical-align: middle; }
    .bricks li {
      display: block;
      float: left;
      margin-left: 0;
      margin-right: -100%;
      width: 20.0303%;
      clear: left;
      display: table;
      padding: 16px;
      padding: 1rem;
      font-size: 16px;
      font-size: 1rem;
      min-height: 144px; }
    .bricks li + li {
      display: block;
      float: left;
      margin-left: 20.0303%;
      margin-right: -100%;
      width: 39.9899%;
      clear: none;
      display: table; }
    .bricks li + li + li {
      display: block;
      float: left;
      margin-left: 60.0202%;
      margin-right: -100%;
      width: 40%;
      clear: none;
      display: table; }
    .bricks li + li + li + li {
      display: block;
      float: left;
      margin-left: 0;
      margin-right: -100%;
      width: 35.0202%;
      clear: left;
      display: table; }
    .bricks li + li + li + li + li {
      display: block;
      float: left;
      margin-left: 35.0202%;
      margin-right: -100%;
      width: 35%;
      clear: none;
      display: table; }
    .bricks li + li + li + li + li + li {
      display: block;
      float: left;
      margin-left: 70.0202%;
      margin-right: -100%;
      width: 30%;
      clear: none;
      display: table; }

  #whycare .bricks {
    margin-bottom: 0; }
    #whycare .bricks li + li + li + li {
      display: block;
      float: left;
      margin-left: 0;
      margin-right: -100%;
      width: 40.0202%;
      clear: left;
      display: table; }
    #whycare .bricks li + li + li + li + li {
      display: block;
      float: left;
      margin-left: 40.0202%;
      margin-right: -100%;
      width: 60%;
      clear: none;
      display: table; }

  #ourthinking h2 {
    margin-bottom: 0; }
  #ourthinking .container {
    display: block;
    float: left;
    margin-left: 3.65743%;
    margin-right: -100%;
    width: 92.68514%;
    padding-top: 10%; }

  #getinvolved {
    overflow: hidden; }
    #getinvolved .container1 {
      display: block;
      float: left;
      margin-left: 0;
      margin-right: -100%;
      width: 48.17128%;
      clear: left; }
    #getinvolved .container2 {
      display: block;
      float: left;
      margin-left: 72.25693%;
      margin-right: -100%;
      width: 27.74307%;
      border-left: 1px solid #138c8f;
      margin-bottom: -99999px;
      padding-bottom: 99999px; }
      #getinvolved .container2 .inside {
        display: block;
        float: left;
        margin-left: 13.18322%;
        margin-right: -100%;
        width: 86.81678%; } }
/* ==========================================================================
   Things to assist accessibility
   ========================================================================== */
/* ==========================================================================
    Hidden for visual
   ========================================================================== */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* ==========================================================================
   Font styles
   ========================================================================== */
abbr[title] {
  border: none; }

body {
  font-family: 'open sans', sans-serif;
  line-height: 1.4;
  font-size: 18px;
  font-size: 1.125rem;
  color: #333333;
  background: #f7f9f9; }

p {
  margin-bottom: 18px;
  margin-bottom: 1.125rem; }

/* heading styles */
h1 {
  font-weight: 800;
  font-size: 31.984px;
  font-size: 1.999rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  line-height: 1.1; }

h2 {
  font-weight: 600;
  font-size: 28.43022px;
  font-size: 1.77689rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  line-height: 1.1;
  padding-bottom: 10px;
  position: relative; }

h2:after {
  /* line decoration under h2 */
  width: 48px;
  height: 4px;
  content: "";
  background: #9E1C10;
  position: absolute;
  left: 0;
  bottom: 0; }

h3 {
  font-weight: 600;
  font-size: 23.994px;
  font-size: 1.49963rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  line-height: 1.1;
  margin-top: 31.984px;
  margin-top: 1.999rem; }

h4 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 6.75507px;
  margin-bottom: 0.42219rem; }

h5 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 16px;
  margin-bottom: 1rem; }

/* Links */
a, a:visited {
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  border-bottom: 1px solid #333333;
  -webkit-transition: color 0.5s ease, border-color 0.5s ease;
  -moz-transition: color 0.5s ease, border-color 0.5s ease;
  -o-transition: color 0.5s ease, border-color 0.5s ease;
  transition: color 0.5s ease, border-color 0.5s ease; }
  a:hover, a:visited:hover {
    color: #9e1c10;
    border-color: #9e1c10;
    -webkit-transition: color 0.5s ease, border-color 0.5s ease;
    -moz-transition: color 0.5s ease, border-color 0.5s ease;
    -o-transition: color 0.5s ease, border-color 0.5s ease;
    transition: color 0.5s ease, border-color 0.5s ease; }

.button a, .button a:visited {
  background: #138c8f;
  padding: 12.003px;
  padding: 0.75019rem;
  -webkit-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #f7f9f9;
  font-weight: 600;
  border: none;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease; }
  .button a:hover, .button a:visited:hover {
    background: #9e1c10;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease; }

#getinvolved .button a, #getinvolved .button a:visited {
  text-transform: none; }

.twitter {
  list-style: none; }
  .twitter a, .twitter a:visited {
    background: url(../img/twitter-icon.svg) top center no-repeat;
    background-size: 100% auto;
    width: 38px;
    height: 30.8888px;
    display: block;
    text-indent: -9999em;
    overflow: hidden;
    border: none;
    margin-bottom: 18px;
    margin-bottom: 1.125rem; }
    .twitter a:hover, .twitter a:visited:hover {
      background-position: bottom center; }

.linkedin {
  list-style: none; }
  .linkedin a, .linkedin a:visited {
    background: url(../img/linkedin-icon.svg) top center no-repeat;
    background-size: 100% auto;
    width: 38px;
    height: 36.322px;
    display: block;
    text-indent: -9999em;
    overflow: hidden;
    border: none; }
    .linkedin a:hover, .linkedin a:visited:hover {
      background-position: bottom center; }

/* blockquotes */
blockquote {
  font-style: italic;
  font-weight: 400;
  margin-bottom: 18px;
  margin-bottom: 1.125rem; }
  blockquote p:before {
    content: "\201C"; }
  blockquote p:after {
    content: "\201D"; }
  blockquote footer, blockquote footer cite {
    font-style: normal;
    font-size: 16px;
    font-size: 1rem; }

.article article h1, .article article h2 {
  text-align: center; }
.article article h1 {
  font-size: 50.51735px;
  font-size: 3.15733rem; }
.article article h2 {
  font-size: 16px;
  font-size: 1rem;
  padding-top: 56.83202px;
  padding-top: 3.552rem;
  background: transparent url(../img/greyfish.svg) center 10px no-repeat;
  background-size: 37px auto;
  color: #666666;
  font-weight: 400; }
.article article h2:after {
  background: none; }

@media only screen and (min-width: 960px) {
  .article nav {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    clear: both;
    text-align: center; }
  .article aside {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    clear: both; }
  .article article {
    display: block;
    float: left;
    margin-left: 12%;
    margin-right: -100%;
    width: 79.0248%;
    clear: both; }
    .article article img {
      max-width: 100%;
      height: auto; } }
@media only screen and (min-width: 1300px) {
  .article article {
    font-size: 67.33963px;
    font-size: 4.20873rem;
    font-size: 28.43022px;
    font-size: 1.77689rem; } }
/* sratch - todo this should be empty before launch! */
