@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,600);
/* ==========================================================================
   Only import other files in this file
   Author: John Oxton-King for http://mrandmrsok.com
   ========================================================================== */
/* ==========================================================================
   Useful mixins 
   ========================================================================== */
/* ==========================================================================
    Typography mixins - all with + px and then + rem are fallbacks for
    browsers that don't recognise rem
   ========================================================================== */
/* ==========================================================================
    Margin and padding mixins
   ========================================================================== */
/* ==========================================================================
    Standard box shadow
   ========================================================================== */
/* ==========================================================================
    Transitions
   ========================================================================== */
/* to use: @include transition(property time effect); (can take multiple arguments e.g. color 0.3s ease, border-color 0.3s ease) */
/* ==========================================================================
    Border radius
   ========================================================================== */
/* to use: @include border-radius(radius); (can take multiple arguments e.g. 2em 0 for different radius on different corners) */
/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
Scales - Based on http://modularscale.com/scale/?px1=16&px2=18&ra1=1.333&ra2=0
========================================================================== */
/* @group modular scale calculator use Ems@16 */
/* http://modularscale.com/scale/?px1=19&px2=14&ra1=1.618&ra2=0 */
/* current accepted 'default' pixel size browsers use */
/* $a-scale is based on $base-number */
/* this is the base font size */
/* $a-scale-- is based on $a-scale and gives smaller numbers */
/* b-scale is based on $important-number */
/* these are additional numbers based on $important-number */
/* $b-scale- is based on $important-number and gives smaller numbers */
/* @end */
/* ==========================================================================
Colours
========================================================================== */
/* ==========================================================================
Font Stack    
========================================================================== */
/* ==========================================================================
Line heights
========================================================================== */
/* ==========================================================================
Padding
========================================================================== */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* ==========================================================================
   General gridsetting and additional stuff outside of gridset.scss
   ========================================================================== */
/* ==========================================================================
   Make everything work out what size it should be if we add padding and 
   borders and width is set to 100%, for example.
   http://www.paulirish.com/2012/box-sizing-border-box-ftw/
   ========================================================================== */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ==========================================================================
   Put each section on the grid with .inner, parent gives proportional 
   padding to vertical edges but allows for full width images/coloured 
   backgrounds etc.
   ========================================================================== */
/* section specific styles */
section, header, nav, footer {
  clear: both; }

/* introduction */
#introduction {
  background: #138c8f;
  color: #f7f9f9; }
  #introduction a, #introduction a:visited {
    color: #f7f9f9;
    border-bottom: 1px solid #f7f9f9; }
    #introduction a:hover, #introduction a:visited:hover {
      color: #333333;
      border-color: #333333; }

/* call to action */
#calltoaction {
  background: #f0f3f3;
  background: rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 100;
  padding-top: 56.83202px;
  padding-top: 3.552rem;
  padding-bottom: 38.83202px;
  padding-bottom: 2.427rem; }

/* what we are doing */
#whatwedo {
  padding-top: 56.83202px;
  padding-top: 3.552rem;
  padding-bottom: 38.83202px;
  padding-bottom: 2.427rem;
  position: relative; }
  #whatwedo:before {
    content: " ";
    position: absolute;
    top: -15%;
    left: 30%;
    right: 0%;
    bottom: 60%;
    background: url(../img/cotton-orange.svg) center right no-repeat;
    background-size: contain;
    opacity: 0.1;
    z-index: -200; }

/* why do we care */
#whycare {
  background: #466e8c;
  position: relative;
  color: #f7f9f9;
  padding-top: 56.83202px;
  padding-top: 3.552rem; }
  #whycare:before {
    content: " ";
    position: absolute;
    top: 20%;
    left: -50%;
    right: 50%;
    bottom: 5%;
    background: url(../img/diamond.svg) center center no-repeat;
    background-size: contain;
    opacity: 0.05; }
  #whycare .bq-container {
    background: #4f7b9d;
    padding: 21.328px;
    padding: 1.333rem; }

/* our story */
#ourstory {
  padding-top: 56.83202px;
  padding-top: 3.552rem;
  padding-bottom: 38.83202px;
  padding-bottom: 2.427rem;
  position: relative; }
  #ourstory:after {
    background: url(../img/down.svg) center center no-repeat;
    background-size: 32px auto;
    content: "";
    display: block;
    height: 32px;
    position: absolute;
    bottom: -16px;
    width: 100%;
    z-index: 1000; }

#meetteam {
  background: #f0f3f3;
  position: relative; }
  #meetteam .inner {
    background: #f7f9f9;
    padding-bottom: 38.83202px;
    padding-bottom: 2.427rem; }
  #meetteam img {
    border-radius: 100%;
    max-width: 150px;
    height: auto; }
  #meetteam:after {
    background: url(../img/down.svg) center center no-repeat;
    background-size: 32px auto;
    content: "";
    display: block;
    height: 32px;
    position: absolute;
    bottom: -16px;
    width: 100%; }

/* get involved */
#getinvolved {
  padding-top: 56.83202px;
  padding-top: 3.552rem;
  margin-bottom: 38.83202px;
  margin-bottom: 2.427rem; }

/* our thinking */
#ourthinking {
  background: #138c8f url(../img/fish.svg) center 51px no-repeat;
  background-size: 135px auto;
  text-align: center;
  padding-top: 56.83202px;
  padding-top: 3.552rem;
  padding-bottom: 38.83202px;
  padding-bottom: 2.427rem;
  color: #f7f9f9; }
  #ourthinking .container {
    padding-top: 16px;
    padding-top: 1rem; }
  #ourthinking h2 {
    text-align: left; }
  #ourthinking a {
    color: #f7f9f9;
    border-bottom: 1px solid #f7f9f9; }

/* Bricks shared styles */
.bricks {
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
  background: #9e1c10; }
  .bricks li {
    padding: 16px;
    padding: 1rem;
    background: #9e1c10;
    border: 1px solid #951a0f;
    color: #f7f9f9;
    font-size: 16px;
    font-size: 1rem; }
  .bricks li + li {
    background: #d75b36;
    border: 1px solid #cb4e28; }
  .bricks li + li + li {
    background: #9e1c10;
    border: 1px solid #951a0f; }
  .bricks li + li + li + li {
    background: #d75b36;
    border: 1px solid #cb4e28; }
  .bricks li + li + li + li + li {
    background: #9e1c10;
    border: 1px solid #951a0f; }
  .bricks li + li + li + li + li + li {
    background: #d75b36;
    border: 1px solid #cb4e28; }

#whycare .bricks {
  margin-bottom: 0;
  background: #3e617b; }
  #whycare .bricks li {
    padding: 16px;
    padding: 1rem;
    background: #3e617b;
    border: 1px solid #3a5b74;
    color: #f7f9f9;
    font-size: 16px;
    font-size: 1rem; }
  #whycare .bricks li + li {
    background: #138c8f;
    border: 1px solid #128386; }
  #whycare .bricks li + li + li {
    background: #3e617b;
    border: 1px solid #3a5b74; }
  #whycare .bricks li + li + li + li {
    background: #138c8f;
    border: 1px solid #128386; }
  #whycare .bricks li + li + li + li + li {
    background: #3e617b;
    border: 1px solid #3a5b74; }
  #whycare .bricks li + li + li + li + li + li {
    background: #138c8f;
    border: 1px solid #128386; }

/* footer styling */
.footer {
  background: #333333;
  color: #f7f9f9;
  padding-bottom: 100.98419px;
  padding-bottom: 6.31151rem;
  position: relative;
  z-index: 1000;
  overflow: hidden;
  position: relative;
  border-bottom: 10px solid #f7f9f9;
  font-size: 16px;
  font-size: 1rem; }
  .footer:before {
    content: " ";
    position: absolute;
    top: 10%;
    left: 60%;
    right: -20%;
    bottom: 0;
    background: url(../img/logo.svg) top left no-repeat;
    background-size: 100% auto;
    opacity: 0.03;
    z-index: -1000; }
  .footer span {
    display: block; }
  .footer a, .footer a:visited {
    color: #138c8f;
    border-color: #138c8f; }
    .footer a:hover, .footer a:visited:hover {
      color: #9e1c10;
      border-color: #9e1c10; }
  .footer p.copyright {
    margin-top: 28.43022px;
    margin-top: 1.77689rem;
    color: #666666; }
  .footer a.back-to-top {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #138c8f;
    color: #f7f9f9;
    padding-top: 16px;
    padding-top: 1rem;
    padding-bottom: 16px;
    padding-bottom: 1rem;
    border: none;
    text-align: center;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease; }
    .footer a.back-to-top:hover {
      background: #9e1c10;
      -webkit-transition: background 0.5s ease;
      -moz-transition: background 0.5s ease;
      -o-transition: background 0.5s ease;
      transition: background 0.5s ease; }
  .footer #footercta {
    padding-bottom: 28.43022px;
    padding-bottom: 1.77689rem;
    padding-top: 28.43022px;
    padding-top: 1.77689rem;
    margin-bottom: 28.43022px;
    margin-bottom: 1.77689rem;
    background: #f0f3f3;
    color: #333333;
    position: relative;
    text-align: center; }
    .footer #footercta p {
      margin: 0; }
    .footer #footercta:after {
      background: url(../img/down.svg) center center no-repeat;
      background-size: 32px auto;
      content: "";
      display: block;
      height: 32px;
      position: absolute;
      bottom: -16px;
      width: 100%; }

#map_canvas {
  width: 100%;
  height: 400px;
  border: 5px solid #383838;
  margin-top: 31.984px;
  margin-top: 1.999rem;
  margin-bottom: 18px;
  margin-bottom: 1.125rem; }
  #map_canvas a {
    display: none; }

/* For small screens such as smartphones */
@media only screen and (min-width: 320px) and (max-width: 959px) {
  section, header, nav, .footer, #footercta {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%; }

  nav {
    display: none;
    /*todo use @extend .visuallyhidden */ }

  /* adjust padding for small screens */
  #calltoaction, #whatwedo, #whycare, #getinvolved, #ourthinking, #ourstory {
    padding-top: 31.984px;
    padding-top: 1.999rem;
    padding-bottom: 13.984px;
    padding-bottom: 0.874rem; }

  #whycare {
    padding-bottom: 0; }

  #introduction {
    font-size: 18px;
    text-align: center;
    padding-top: 23.994px;
    padding-top: 1.49963rem;
    padding-bottom: 16px;
    padding-bottom: 1rem; }
    #introduction .hero {
      display: block;
      float: left;
      margin-left: 3%;
      margin-right: -100%;
      width: 94.12153%; }

  #calltoaction {
    text-align: center; }

  .inner {
    display: block;
    float: left;
    margin-left: 3%;
    margin-right: -100%;
    width: 94.12153%;
    clear: left; }

  #meetteam {
    text-align: center; }
    #meetteam .inner {
      background: #f0f3f3; }
    #meetteam ul li {
      list-style: none;
      margin-bottom: 28.43022px;
      margin-bottom: 1.77689rem;
      border-bottom: 2px solid #f7f9f9;
      padding-bottom: 16px;
      padding-bottom: 1rem; }
      #meetteam ul li ul li {
        border: none;
        padding-bottom: 0;
        margin-bottom: 18px;
        margin-bottom: 1.125rem; }
      #meetteam ul li:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none; }

  .bricks {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    clear: left; }

  #getinvolved .container2 {
    text-align: center; }

  #ourthinking {
    background-position: center 76px;
    background-size: 90px auto; }

  .footer {
    text-align: center; } }
/* For medium screens such as tablets in landscape */
/* @media only screen and (min-width:960px) and (max-width:1366px){
    section, header, nav, footer{
    @include gs-span(l, all);
  }
   .inner{
    @include gs-span(l, 2,10);
    margin-bottom:21px;
  }
} */
/* For big screens, essentially using gutters to try and keep the line lengths in check */
@media only screen and (min-width: 960px) {
  section, header, nav, .footer {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%; }

  body {
    border: 10px solid #f7f9f9;
    position: relative; }

  /* navigation */
  nav ol {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none; }
  nav li {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 20.0303%;
    display: block;
    text-align: center; }
    nav li a, nav li a:visited {
      color: #f7f9f9;
      display: block;
      font-weight: 600;
      min-height: 200px;
      padding-top: 21.328px;
      padding-top: 1.333rem;
      text-decoration: none;
      border: none;
      background: #d75b36 url(../img/cotton.svg) center 60% no-repeat;
      background-size: 90px auto;
      -webkit-transition: background-color 0.5s ease;
      -moz-transition: background-color 0.5s ease;
      -o-transition: background-color 0.5s ease;
      transition: background-color 0.5s ease; }
      nav li a:hover, nav li a:visited:hover {
        color: #f7f9f9;
        background-color: #333333;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease; }
  nav li + li {
    display: block;
    float: left;
    margin-left: 20.0303%;
    margin-right: -100%;
    width: 19.9899%; }
    nav li + li a {
      background: #9e1c10 url(../img/diamond.svg) center 60% no-repeat;
      background-size: 90px auto; }
  nav li + li + li {
    display: block;
    float: left;
    margin-left: 40.0202%;
    margin-right: -100%;
    width: 20%; }
    nav li + li + li a {
      background: #466e8c url(../img/tree.svg) center 60% no-repeat;
      background-size: auto 76px; }
  nav li + li + li + li {
    display: block;
    float: left;
    margin-left: 60.0202%;
    margin-right: -100%;
    width: 20%; }
    nav li + li + li + li a {
      background: #d75b36 url(../img/phone.svg) center 60% no-repeat;
      background-size: 90px auto; }
  nav li + li + li + li + li {
    display: block;
    float: left;
    margin-left: 80.0202%;
    margin-right: -100%;
    width: 20%; }
    nav li + li + li + li + li a {
      background: #9e1c10 url(../img/fish.svg) center 60% no-repeat;
      background-size: auto 90px; }

  /* fixed nav */
  .landing nav.fixed {
    position: fixed;
    top: 0;
    padding-right: 10px !important;
    z-index: 2000; }
    .landing nav.fixed ol {
      padding-right: 10px !important; }
      .landing nav.fixed ol li a {
        background: #333333;
        min-height: 0;
        padding-bottom: 12.003px;
        padding-bottom: 0.75019rem;
        padding-top: 12.003px;
        padding-top: 0.75019rem;
        opacity: 0.9;
        -webkit-transition: opacity 0.5s ease, background-color 0.5s ease, min-height 0.5s ease;
        -moz-transition: opacity 0.5s ease, background-color 0.5s ease, min-height 0.5s ease;
        -o-transition: opacity 0.5s ease, background-color 0.5s ease, min-height 0.5s ease;
        transition: opacity 0.5s ease, background-color 0.5s ease, min-height 0.5s ease; }
        .landing nav.fixed ol li a:hover {
          opacity: 1;
          -webkit-transition: opacity 0.5s ease, background-color 0.5s ease, min-height 0.5s ease;
          -moz-transition: opacity 0.5s ease, background-color 0.5s ease, min-height 0.5s ease;
          -o-transition: opacity 0.5s ease, background-color 0.5s ease, min-height 0.5s ease;
          transition: opacity 0.5s ease, background-color 0.5s ease, min-height 0.5s ease; }

  .landing nav.fixed + #calltoaction {
    margin-top: 49px; }

  /* general layout */
  .inner {
    display: block;
    float: left;
    margin-left: 9%;
    margin-right: -100%;
    width: 82.0248%;
    clear: left; }

  .text-container {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 75.91436%; }

  #whycare .text-container {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 48.17128%;
    clear: left; }
  #whycare .bq-container {
    display: block;
    float: left;
    margin-left: 51.82872%;
    margin-right: -100%;
    width: 48.17128%; }

  #calltoaction .container1 {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 72.25693%; }
  #calltoaction .container2 {
    display: block;
    float: left;
    margin-left: 75.91436%;
    margin-right: -100%;
    width: 24.08564%; }
    #calltoaction .container2 .button a {
      display: block;
      text-align: center; }

  #introduction {
    padding-bottom: 67.33963px;
    padding-bottom: 4.20873rem;
    padding-top: 67.33963px;
    padding-top: 4.20873rem; }
    #introduction .logo {
      display: block;
      float: left;
      margin-left: 12%;
      margin-right: -100%;
      width: 16.7562%; }
      #introduction .logo img {
        width: 100%;
        height: auto; }
    #introduction .hero {
      display: block;
      float: left;
      margin-left: 31.7562%;
      margin-right: -100%;
      width: 56.2686%;
      font-size: 24px; }

  #ourstory {
    background: transparent url(../img/logos.png) 0% 21px repeat-x;
    background-size: 70% auto;
    padding-top: 75.75708px;
    padding-top: 4.73482rem; }

  #meetteam {
    background: transparent url(../img/chair.jpg) top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 100.98419px;
    padding-top: 6.31151rem;
    padding-bottom: 100.98419px;
    padding-bottom: 6.31151rem; }
    #meetteam .inner {
      position: relative;
      z-index: 200; }
      #meetteam .inner:before {
        content: " ";
        position: absolute;
        top: -20px;
        right: -20px;
        left: -20px;
        bottom: -20px;
        border: 20px solid rgba(255, 255, 255, 0.4);
        z-index: -1000; }
      #meetteam .inner h3 {
        display: block;
        float: left;
        margin-left: 3.65743%;
        margin-right: -100%;
        width: 92.68514%;
        margin-bottom: 23.994px;
        margin-bottom: 1.49963rem; }
      #meetteam .inner ul {
        display: block;
        float: left;
        margin-left: 3.65743%;
        margin-right: -100%;
        width: 92.68514%;
        position: relative;
        clear: left; }
        #meetteam .inner ul li {
          display: block;
          float: left;
          margin-left: 0;
          margin-right: -100%;
          width: 74.01348%;
          clear: left;
          list-style: none;
          text-align: center;
          margin-bottom: 38.83202px;
          margin-bottom: 2.427rem; }
          #meetteam .inner ul li .img-container {
            display: block;
            float: left;
            margin-left: 0;
            margin-right: -100%;
            width: 29.77895%;
            text-align: center; }
          #meetteam .inner ul li .container {
            display: block;
            float: left;
            margin-left: 35.11052%;
            margin-right: -100%;
            width: 64.88948%;
            text-align: left; }
          #meetteam .inner ul li p {
            font-size: 16px;
            font-size: 1rem;
            text-align: left; }
          #meetteam .inner ul li img {
            width: 100%;
            margin-bottom: 18px;
            margin-bottom: 1.125rem; }
          #meetteam .inner ul li ul {
            width: 100%;
            margin: 0;
            font-size: 16px;
            font-size: 1rem; }
            #meetteam .inner ul li ul li {
              margin: 0;
              margin-bottom: 18px;
              margin-bottom: 1.125rem;
              width: auto;
              clear: none;
              float: none;
              text-align: left; }
        #meetteam .inner ul li + li {
          display: block;
          float: left;
          margin-left: 0;
          margin-right: -100%;
          width: 22.04044%;
          clear: left; }
        #meetteam .inner ul li + li + li {
          display: block;
          float: left;
          margin-left: 25.98652%;
          margin-right: -100%;
          width: 22.04044%;
          clear: none; }
        #meetteam .inner ul li + li + li + li {
          display: block;
          float: left;
          margin-left: 51.97304%;
          margin-right: -100%;
          width: 22.04044%; }
        #meetteam .inner ul li + li + li + li + li {
          display: block;
          float: left;
          margin-left: 77.95956%;
          margin-right: -100%;
          width: 22.04044%; }
        #meetteam .inner ul li + li + li + li + li + li {
          display: block;
          float: left;
          margin-left: 0;
          margin-right: -100%;
          width: 22.04044%;
          clear: left; }
        #meetteam .inner ul li + li + li + li + li + li + li {
          display: block;
          float: left;
          margin-left: 25.98652%;
          margin-right: -100%;
          width: 22.04044%;
          clear: none; }
        #meetteam .inner ul li + li + li + li + li + li + li + li {
          display: block;
          float: left;
          margin-left: 51.97304%;
          margin-right: -100%;
          width: 22.04044%; }
        #meetteam .inner ul li + li + li + li + li + li + li + li + li {
          display: block;
          float: left;
          margin-left: 77.95956%;
          margin-right: -100%;
          width: 22.04044%; }

  .bricks {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%; }
    .bricks span {
      display: table-cell;
      vertical-align: middle; }
    .bricks li {
      display: block;
      float: left;
      margin-left: 0;
      margin-right: -100%;
      width: 20.0303%;
      clear: left;
      display: table;
      padding: 16px;
      padding: 1rem;
      font-size: 16px;
      font-size: 1rem; }
    .bricks li + li {
      display: block;
      float: left;
      margin-left: 20.0303%;
      margin-right: -100%;
      width: 39.9899%;
      clear: none;
      display: table; }
    .bricks li + li + li {
      display: block;
      float: left;
      margin-left: 60.0202%;
      margin-right: -100%;
      width: 40%;
      clear: none;
      display: table; }
    .bricks li + li + li + li {
      display: block;
      float: left;
      margin-left: 0;
      margin-right: -100%;
      width: 35.0202%;
      clear: left;
      display: table; }
    .bricks li + li + li + li + li {
      display: block;
      float: left;
      margin-left: 35.0202%;
      margin-right: -100%;
      width: 35%;
      clear: none;
      display: table; }
    .bricks li + li + li + li + li + li {
      display: block;
      float: left;
      margin-left: 70.0202%;
      margin-right: -100%;
      width: 30%;
      clear: none;
      display: table; }

  #whycare .bricks li {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 35.0202%;
    clear: left;
    display: table;
    padding: 16px;
    padding: 1rem;
    font-size: 16px;
    font-size: 1rem; }
  #whycare .bricks li + li {
    display: block;
    float: left;
    margin-left: 35.0202%;
    margin-right: -100%;
    width: 35%;
    clear: none;
    display: table; }
  #whycare .bricks li + li + li {
    display: block;
    float: left;
    margin-left: 70.0202%;
    margin-right: -100%;
    width: 30%;
    clear: none;
    display: table; }
  #whycare .bricks li + li + li + li {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 40.0202%;
    clear: left;
    display: table; }
  #whycare .bricks li + li + li + li + li {
    display: block;
    float: left;
    margin-left: 40.0202%;
    margin-right: -100%;
    width: 60%;
    clear: none;
    display: table; }

  #ourthinking h2 {
    margin-bottom: 0; }
  #ourthinking .container {
    display: block;
    float: left;
    margin-left: 3.65743%;
    margin-right: -100%;
    width: 92.68514%; }

  #getinvolved {
    overflow: hidden; }
    #getinvolved .container1 {
      display: block;
      float: left;
      margin-left: 0;
      margin-right: -100%;
      width: 48.17128%;
      clear: left; }
    #getinvolved .container2 {
      display: block;
      float: left;
      margin-left: 51.82872%;
      margin-right: -100%;
      width: 48.17128%;
      border-left: 1px solid #138c8f;
      padding-left: 28.43022px;
      padding-left: 1.77689rem;
      margin-bottom: -99999px;
      padding-bottom: 99999px; }

  .footer .container1 {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 48.17128%; }
  .footer .container2 {
    display: block;
    float: left;
    margin-left: 51.82872%;
    margin-right: -100%;
    width: 48.17128%; }

  #footercta {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%; } }
/* ==========================================================================
   Things to assist accessibility
   ========================================================================== */
/* ==========================================================================
    Hidden for visual
   ========================================================================== */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* ==========================================================================
   Font styles
   ========================================================================== */
abbr[title] {
  border: none; }

body {
  font-family: 'open sans', sans-serif;
  line-height: 1.4;
  font-size: 18px;
  font-size: 1.125rem;
  color: #333333;
  background: #f7f9f9; }

p {
  margin-bottom: 18px;
  margin-bottom: 1.125rem; }

p.info {
  font-size: 16px;
  font-size: 1rem;
  font-style: italic; }

/* heading styles */
h1 {
  font-weight: 800;
  font-size: 31.984px;
  font-size: 1.999rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  line-height: 1.1; }

h2 {
  font-weight: 600;
  font-size: 28.43022px;
  font-size: 1.77689rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  line-height: 1.1;
  padding-bottom: 10px;
  position: relative; }

h2:after {
  /* line decoration under h2 */
  width: 48px;
  height: 4px;
  content: "";
  background: #9e1c10;
  position: absolute;
  left: 0;
  bottom: 0; }

/* colours of h2 / underline for specific sections */
#whycare h2:after {
  background: #d75b36; }

#ourstory h2:after {
  background: #138c8f; }

#ourthinking h2 {
  color: #333333; }
  #ourthinking h2:after {
    background: #f7f9f9; }

h3 {
  font-weight: 600;
  font-size: 23.994px;
  font-size: 1.49963rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  line-height: 1.1;
  margin-top: 31.984px;
  margin-top: 1.999rem; }

h4 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0; }

h5 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  color: gray; }

/* Links */
a, a:visited {
  text-decoration: none;
  color: #333333;
  font-weight: 600;
  border-bottom: 1px solid #333333;
  -webkit-transition: color 0.5s ease, border-color 0.5s ease;
  -moz-transition: color 0.5s ease, border-color 0.5s ease;
  -o-transition: color 0.5s ease, border-color 0.5s ease;
  transition: color 0.5s ease, border-color 0.5s ease; }
  a:hover, a:visited:hover {
    color: #9e1c10;
    border-color: #9e1c10;
    -webkit-transition: color 0.5s ease, border-color 0.5s ease;
    -moz-transition: color 0.5s ease, border-color 0.5s ease;
    -o-transition: color 0.5s ease, border-color 0.5s ease;
    transition: color 0.5s ease, border-color 0.5s ease; }

h3 a, h3 a:visited {
  border-bottom: none !important; }

.button a, .button a:visited {
  background: #138c8f;
  padding: 12.003px;
  padding: 0.75019rem;
  -webkit-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #f7f9f9;
  font-weight: 600;
  border: none;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
  display: inline-block; }
  .button a:hover, .button a:visited:hover {
    background: #9e1c10;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
    color: #f7f9f9; }

.footer .button a, .footer .button a:visited, #getinvolved .button a, #getinvolved .button a:visited {
  text-transform: none; }

.twitter {
  list-style: none; }
  .twitter a, .twitter a:visited {
    background: url(../img/twitter-icon.svg) top left no-repeat;
    background-size: 38px auto;
    padding-left: 50.51735px;
    padding-left: 3.15733rem;
    line-height: 31px;
    display: inline-block;
    border: none;
    margin-bottom: 18px;
    margin-bottom: 1.125rem;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
    .twitter a span, .twitter a:visited span {
      border-bottom: 1px solid #138c8f;
      display: inline; }
    .twitter a:hover, .twitter a:visited:hover {
      background-position: bottom left;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none; }
      .twitter a:hover span, .twitter a:visited:hover span {
        border-color: #9e1c10; }

.linkedin {
  list-style: none; }
  .linkedin a, .linkedin a:visited {
    background: url(../img/linkedin-icon.svg) top left no-repeat;
    background-size: 38px auto;
    padding-left: 50.51735px;
    padding-left: 3.15733rem;
    line-height: 36.322px;
    display: inline-block;
    border: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
    .linkedin a span, .linkedin a:visited span {
      border-bottom: 1px solid #138c8f;
      display: inline; }
    .linkedin a:hover, .linkedin a:visited:hover {
      background-position: bottom left;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none; }
      .linkedin a:hover span, .linkedin a:visited:hover span {
        border-color: #9e1c10; }

/* blockquotes */
blockquote {
  font-style: italic;
  font-weight: 400;
  margin-bottom: 18px;
  margin-bottom: 1.125rem; }
  blockquote p:before {
    content: "\201C"; }
  blockquote p:after {
    content: "\201D"; }
  blockquote footer, blockquote footer cite {
    font-style: normal;
    font-size: 16px;
    font-size: 1rem; }

/* article specific */
.article article {
  padding-bottom: 38.83202px;
  padding-bottom: 2.427rem; }
  .article article h1 {
    font-size: 50.51735px;
    font-size: 3.15733rem;
    text-align: center; }
  .article article h2.meta {
    font-size: 16px;
    font-size: 1rem;
    padding-top: 56.83202px;
    padding-top: 3.552rem;
    background: transparent url(../img/greyfish.svg) center 10px no-repeat;
    background-size: 37px auto;
    color: #666666;
    font-weight: 400;
    text-align: center;
    margin-top: 0; }
  .article article h2:after {
    background: none; }
  .article article h2 {
    margin-top: 28.43022px;
    margin-top: 1.77689rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    padding-bottom: 0; }

nav.blog ul li a, nav.blog ul li a:visited {
  background: #138c8f url(../img/logo.svg) center center no-repeat;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }
  nav.blog ul li a:hover, nav.blog ul li a:visited:hover {
    color: #f7f9f9;
    background-color: #333333;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease; }
nav.blog ul li + li a, nav.blog ul li + li a:visited {
  background: #9e1c10 url(../img/fish.svg) center center no-repeat; }

/* LARGE SCREENS */
@media only screen and (min-width: 960px) {
  .article aside, .archive aside {
    display: block;
    float: left;
    margin-left: 28.7562%;
    margin-right: -100%;
    width: 59.2686%;
    clear: both; }
  .article article, .article .archivelist, .archive article, .archive .archivelist {
    display: block;
    float: left;
    margin-left: 28.7562%;
    margin-right: -100%;
    width: 59.2686%;
    padding-top: 67.33963px;
    padding-top: 4.20873rem; }
    .article article img, .article .archivelist img, .archive article img, .archive .archivelist img {
      max-width: 100%;
      height: auto; }

  nav.blog {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 20.0303%; }
    nav.blog ul li {
      clear: both;
      display: block;
      float: left;
      margin-left: 0;
      width: 100%;
      clear: left; } }
/* navigation */
/*nav.blog.fixed{
	position:fixed;
	top:0;
	left:0;
	z-index:10000;
}*/
.archive nav.blog ul li + li {
  display: none; }

.archive .archivelist {
  margin-bottom: 38.83202px;
  margin-bottom: 2.427rem; }
  .archive .archivelist section {
    padding-bottom: 18px;
    padding-bottom: 1.125rem;
    padding-top: 18px;
    padding-top: 1.125rem; }
.archive h1 {
  font-size: 50.51735px;
  font-size: 3.15733rem; }
.archive h2 {
  padding-bottom: 0;
  margin-bottom: 12.003px;
  margin-bottom: 0.75019rem; }
  .archive h2:after {
    background: none; }
  .archive h2 a {
    color: #138c8f;
    border-bottom: 1px dotted #138c8f; }
    .archive h2 a:hover {
      color: #9e1c10;
      border-color: #9e1c10; }
  .archive h2 a:visited {
    color: #333333;
    border-bottom: 1px dotted #138c8f; }
    .archive h2 a:visited:hover {
      color: #9e1c10;
      border-color: #9e1c10; }
.archive .meta {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  color: gray;
  margin-top: 0; }
  .archive .meta span {
    font-style: italic;
    text-transform: lowercase; }

/* SMALL SCREENS */
@media only screen and (min-width: 320px) and (max-width: 959px) {
  article, .archivelist {
    display: block;
    float: left;
    margin-left: 3%;
    margin-right: -100%;
    width: 94.12153%;
    clear: left; }

  nav.blog {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    margin-bottom: 31.984px;
    margin-bottom: 1.999rem;
    clear: left; }
    nav.blog ul li {
      display: block;
      float: left;
      margin-left: 3%;
      margin-right: -100%;
      width: 45.56076%; }
      nav.blog ul li a, nav.blog ul li a:visited {
        width: 100%;
        display: block;
        border-bottom: 0;
        color: #f7f9f9;
        text-align: center;
        padding-top: 67.33963px;
        padding-top: 4.20873rem;
        padding-bottom: 16px;
        padding-bottom: 1rem;
        padding-left: 12.003px;
        padding-left: 0.75019rem;
        padding-right: 12.003px;
        padding-right: 0.75019rem;
        background-position: center 10px;
        background-size: 45px auto; }
    nav.blog ul li + li {
      display: block;
      float: left;
      margin-left: 51.56076%;
      margin-right: -100%;
      width: 45.56076%;
      clear: none; }
      nav.blog ul li + li a, nav.blog ul li + li a:visited {
        background-position: center 10px;
        background-size: auto 45px; } }
/* sratch - todo this should be empty before launch! */
