

/* article specific */
.article{
		article{
			h1,h2{
				text-align:center;
			}
			h1{
				@include font-size($a-scale-5);
			}
			h2{
				@include font-size($a-scale);
				@include padding-top($standard-padding-top);
				background:transparent url(../img/greyfish.svg) center 10px no-repeat;
				background-size:37px auto;
				color:$midgrey;
				font-weight:400;
			}
			h2:after{
				background:none;
			}
	}
}

@media only screen and (min-width:960px) {
	.article, .archive{
		aside{
			@include gs-span(l, 4,9);
			clear:both;
		}
		article, .archivelist{
			@include gs-span(l, 4,9);
			@include padding-top($a-scale-6);
		
			img{
				max-width:100%;
				height:auto;
			}
		}
	}
}


@media only screen and (min-width:1300px) {

	.article{
		article{
			//@include font-size($a-scale-6);
			//@include font-size($a-scale-3);
		}
	}
}
/* navigation */
nav.blog{
	@include gs-span(n, 1);
	ul{
	li{
		@include gs-span(n, all);
		clear:left;
		a, a:visited {
        background:$turquoise url(../img/logo.svg) center center no-repeat;
        @include transition(background-color 0.5s ease);
        &:hover {
          color:$white;
          background-color:$darkgrey;
          @include transition(background-color 0.5s ease);
        }
      }
	}
	li+li{
		a, a:visited{
			background:$red url(../img/fish.svg) center center no-repeat;
		}
	}
}
}

/*nav.blog.fixed{
	position:fixed;
	top:0;
	left:0;
	z-index:10000;
}*/

.archive nav.blog ul{
	li+li{
		display:none;
	}
}