.ie8 {

  border:10px solid $white;

  section, header, nav, .footer{
    @include gs-span(l, all, all, false, ie);
  }



  /* navigation */

  nav{
    ol{
      display:block;
      margin:0;
      padding:0;
      list-style:none;
    }
    li{
      @include gs-span(n, 1,1,false,ie);
     
      display:block;
      text-align:center;
      a, a:visited {
        color:$white;
        display:block;
        font-weight:600;
        min-height:200px;
        @include padding-top($a-scale-2);
        text-decoration:none;
        border:none;
        background:$orange url(../img/cotton.svg) center 60% no-repeat;
        background-size:90px auto;
        @include transition(background-color 0.5s ease);
        &:hover {
          color:$white;
          background-color:$darkgrey;
          @include transition(background-color 0.5s ease);
        }
      }
    }
    li+li{
      @include gs-span(n, 2,3, false, ie);
      a {
        background:$red url(../img/diamond.svg) center 60% no-repeat;
        background-size:90px auto;
      }
    }
    li+li+li{
      @include gs-span(n, 4,5, false, ie);
      a {
        background:$blue url(../img/tree.svg) center 60% no-repeat;
        background-size: auto 76px;
      }
       
    }
    li+li+li+li{
      @include gs-span(n, 6,7, false, ie);
      a {
        background:$orange url(../img/phone.svg) center 60% no-repeat;
        background-size:90px auto;
      }
    }
    li+li+li+li+li{
      @include gs-span(n, 8, 8, false, ie);
      a {
         background:$red url(../img/fish.svg) center 60% no-repeat;
         background-size:auto 90px;
      }
    }
  }

/* fixed nav */

.landing nav.fixed {
  position:fixed;
  top:0;
  padding-right:10px !important;
  z-index: 2000;
  ol {
    padding-right:10px !important;
        li a {
        background:$darkgrey;
        min-height:0;
        @include padding-bottom($a-scale--2);
        @include padding-top($a-scale--2);
        opacity:0.9;
        @include transition(opacity 0.5s ease, background-color 0.5s ease, min-height 0.5s ease);
        &:hover {
          opacity:1;
          @include transition(opacity 0.5s ease, background-color 0.5s ease, min-height 0.5s ease);
        }
        }
    }
}

.landing nav.fixed + #calltoaction {
  border-top:200px solid rgba(0,0,0,0.005);
}

/* general layout */

.inner{
    @include gs-span(l, 2,10, false, ie);
    clear:left;
}

.text-container {
  @include gs-span(l,2,8,(2,10), ie);
}

#whycare {
  .text-container {
    @include gs-span(l,2,5,(2,10), ie);
    clear:left;
  }
  .bq-container {
    @include gs-span(l,7,10,(2,10), ie)
  }
}

#calltoaction{
  .container1 {
    @include gs-span(l,2,7,(2,10), ie);
  }
  .container2 {
    @include gs-span(l,9,10,(2,10), ie);
    .button {
      a {
        display:block;
        text-align:center;
      }
    }
  }
}
  #introduction{
   
    @include padding-bottom($a-scale-6);
    @include padding-top($a-scale-6);
  .logo{
    @include gs-span(l, 3, 3, false, ie);
    img{
      width:100%;
      height:auto;
    }
  }
  .hero{
    @include gs-span(l, 5,9, false, ie);
    font-size:24px;
  }
}
#ourstory{
  background:transparent url(../img/logos.png) 0% 21px repeat-x;
  background-size: 80% auto;
  //transparent url(../img/down.svg) bottom center no-repeat;
  @include padding-top($b-scale-6);

  }

#meetteam{
  background:transparent url(../img/chair.jpg) top center no-repeat;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @include padding-top($b-scale-7);
  @include padding-bottom($b-scale-7);

  .inner {
    
    z-index:200;
    h3 {
      @include gs-span(l,3,9,(2,10), ie);
      @include margin-bottom($b-scale-2);
    }
    ul {
      @include gs-span(l,3,9,(2,10), ie);
      position:relative;
      clear:left;
      li {
        @include gs-span(l,3,7,(3,9), ie);
        clear:left;
        list-style: none;
        text-align:center;

        .img-container {
          @include gs-span(l,3,3,(3,7), ie);
          text-align:center;
        }
        .container {
          @include gs-span(l,5,7,(3,7), ie);
          text-align:left;
        }
        @include margin-bottom($standard-padding-bottom);
        p {
          @include font-size($a-scale);
          text-align:left;
        }
        img {
          width:150px;
          height:150px;
          @include margin-bottom($p-margin-bottom);
        }
        ul {
          width:100%;
          margin:0;
          @include font-size($a-scale);
          li {
            
            margin:0;
            @include margin-bottom($p-margin-bottom);
            width:auto;
            clear:none;
            float:none;
            text-align:left;
          }
        }
      }
      li+li {
        @include gs-span(l,3,3,(3,9), ie);
        clear:left;
      }
      li+li+li {
        @include gs-span(l,5,5,(3,9), ie);
        clear:none;
      }
      li+li+li+li {
        @include gs-span(l,7,7,(3,9), ie);
      }
      li+li+li+li+li {
        @include gs-span(l,9,9,(3,9), ie);
      }
      li+li+li+li+li+li {
        @include gs-span(l,3,3,(3,9), ie);
        clear:left;
      }
      li+li+li+li+li+li+li {
        @include gs-span(l,5,5,(3,9), ie);
        clear:none;
      }
      li+li+li+li+li+li+li+li {
        @include gs-span(l,7,7,(3,9), ie);
      }
      li+li+li+li+li+li+li+li+li {
        @include gs-span(l,9,9,(3,9), ie);
      }

    }
  }
}


.bricks {
  
  span {
      display:table-cell;
      vertical-align:middle;
    }
  @include gs-span(n,all, all, false, ie);
  li {
    @include gs-span(n,1,1, false, ie);
    clear:left;
    display:table;
    @include padding($a-scale);
    @include font-size($a-scale);
    border-left-width:0px;
    
  }
  li+li {
    @include gs-span(n,2,5, false, ie);
    clear:none;

    display:table;
  }
  li+li+li {
    @include gs-span(n,6,8, false, ie);
    clear:none;

    display:table;
    border-right-width:0px;
  }
  li+li+li+li {
    @include gs-span(n,1,2, false, ie);
    clear:left;

    display:table;
    border-left-width:0px;
    border-bottom-width:10px;
  }
  li+li+li+li+li {
    @include gs-span(n,3,6, false, ie);
    clear:none;
    border-bottom-width:10px;
    display:table;
  }
  li+li+li+li+li+li {
    @include gs-span(n,7,8, false, ie);
    clear:none;

    display:table;
    border-right-width:0px;
    border-bottom-width:10px;
  }
}

#whycare .bricks {
  li {
    @include gs-span(n,1,2, false, ie);
    clear:left;
    display:table;
    @include padding($a-scale);
    @include font-size($a-scale);
    border-left-width:10px;
    
  }
  li+li {
    @include gs-span(n,3,6, false, ie);
    clear:none;

    display:table;
  }
  li+li+li {
    @include gs-span(n,7,8, false, ie);
    clear:none;
    border-right-width:10px;
    display:table;
  }
  li+li+li+li {
    @include gs-span(n,1,3, false, ie);
    clear:left;
    border-left-width:10px;
    border-bottom-width:10px;
    display:table;
  }
  li+li+li+li+li {
    @include gs-span(n,4,8, false, ie);
    clear:none;
    border-bottom-width:10px;
    display:table;
    border-right-width:10px;
  }
}

#ourthinking {
  h2 {
    margin-bottom:0;
  }
  .container {
    @include gs-span(l,3,9,(2,10), ie);
    
  }
}

#getinvolved {
  overflow:hidden;
  .container1 {
    @include gs-span(l,2,5,(2,10), ie);
    clear:left;
  }
  .container2 {
    @include gs-span(l,7,10,(2,10), ie);
    border-left:1px solid $turquoise;
    @include padding-left($a-scale-3);
    margin-bottom: -99999px;
  padding-bottom: 99999px;

  }
}

.footer {
  .container1 {
    @include gs-span(l,2,5,(2,10), ie);
  }
  .container2 {
    @include gs-span(l,7,10,(2,10), ie);
  }
}
#footercta{
  @include gs-span(l, all, all, false, ie);
  }


/*blog */

article {
  @include gs-span(l, 4,9, false, ie);
  @include padding-top($a-scale-6);
  img{
        max-width:100%;
        height:auto;
      }
}

.archivelist {
  @include gs-span(l, 4,9, false, ie);
  @include padding-top($a-scale-6);
  img{
        max-width:100%;
        height:auto;
      }
}




    aside{
      @include gs-span(l, 4,9, false, ie);
      clear:both;
    }
    

  nav.blog{
  @include gs-span(n, 1, 1, false, ie);
  ul{
  li{
    @include gs-span(n, all, all, false, ie);
    clear:left;
}
}
}
}

/* Workshop page styling */
.workshop .ie8 {
    width:100%;
    float:left;
    header {
      @include gs-span(l,all,all,false,ie);
      .inner {
        @include gs-span(l,4,9,false,ie);
        clear:none;
      }
    }
    .container {
      @include gs-span(l,all,false,ie);

    }
    article {
      @include gs-span(l,4,9,false,ie);
      clear:none;
    }
    .info {
      @include gs-span(n,1,1,false,ie);
      clear:both;
      @include margin-top($a-scale-6 - $a-scale);
    }
    dd, dt {
      @include gs-span(n, all, all, false, ie);
      clear:left;
    }
  .sign-up-form {
    @include gs-span(l,all, all, false, ie);
    clear:both;
    form {
      @include gs-span(l,4,9,(2,10), ie);
    }
  }
  .getintouch {
    @include gs-span(l,all,all, false, ie);
    .container1 {
        @include gs-span(l,2,7,(2,10), ie);
    }
    .container2 {
        @include gs-span(l,9,10,(2,10), ie);
      }
  }
}







.no-svg {
	.logo {
		background:url(../img/logo-white.png) center center no-repeat;
	}
  nav {
    li a {
      background-image: url(../img/cotton.png);
    }
    li+li a {
      background-image: url(../img/diamond.png);
    }
    li+li+li a {
      background-image: url(../img/tree.png);
    }
    li+li+li+li a {
      background-image: url(../img/phone.png);
    }
    li+li+li+li+li a {
      background-image: url(../img/fish.png);
    }
  }

  nav.blog ul {
   li a {
      background-image: url(../img/logo-small.png);
    }
    li+li a {
      background-image: url(../img/fish.png);
    }
  }
  #ourthinking {
    background-image: url(../img/fish.png);
  }
  .twitter a, .twitter a:visited {
    background-image: url(../img/twitter-icon.png);
  }
  .linkedin a, .linkedin a:visited {
    background-image: url(../img/linkedin-icon.png);
  }
  .article article h2.meta{
    background-image: url(../img/greyfish.png);
  }
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}