/* ==========================================================================
   Font styles
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,600);


abbr[title]{
    border:none;
}

body{
  font-family:'open sans', sans-serif;
  line-height:$line-height;
  @include font-size($b-scale);
  color:$darkgrey;
  background:$white;
}

p {
	@include margin-bottom($p-margin-bottom);
}

p.info {
	@include font-size($a-scale);
	font-style:italic;
}

/* heading styles */

h1{
	font-weight:800;
	@include font-size($b-scale-3);
	@include margin-bottom($a-scale);
	line-height:$heading-line-height;
}

h2 {
	font-weight:600;
  @include font-size($a-scale-3);
  @include margin-bottom($a-scale);
  line-height:$heading-line-height;
  padding-bottom:10px;
  position:relative;
}

h2:after{ /* line decoration under h2 */
  width:48px;
  height:4px;
  content:"";
  background:$red;
  position:absolute;
  left:0;
  bottom:0;
}

/* colours of h2 / underline for specific sections */

#whycare {
	h2:after {
		background:$orange;
	}
}

#ourstory {
	h2:after {
		background:$turquoise;
	}
}

#ourthinking {
	h2{
		color:$darkgrey;
		&:after {
			background:$white;
		}
	}
}

h3 {
	font-weight:600;
  @include font-size($b-scale-2);
  @include margin-bottom($a-scale);
  line-height:$heading-line-height;	
  @include margin-top($b-scale-3);
}

h4 {
	@include font-size($b-scale);
	font-weight:600;
	margin-bottom:0;

}
h5 {
	@include font-size($a-scale);
	font-weight:600;
	@include margin-bottom($a-scale);
	color:lighten($darkgrey,30);
}

/* Links */

a, a:visited {
	text-decoration:none;
	color:$darkgrey;
	font-weight:600;
	border-bottom:1px solid $darkgrey;
	@include transition(color 0.5s ease, border-color 0.5s ease);
	&:hover {
		color:$red;
		border-color:$red;
		@include transition(color 0.5s ease, border-color 0.5s ease);
	}
}

a.img-link, a.img-link:visited {
	border:none;
}

h3 {
	a, a:visited {
		border-bottom:none !important;
	}
}

.button {
	a, a:visited {
		background:$turquoise;
		@include padding($a-scale--2);
		@include box-shadow();
		@include border-radius(5px);
		text-transform: uppercase;
		color:$white;
		font-weight:600;
		border:none;
		@include transition(background 0.5s ease);
		display:inline-block;
		&:hover {
			background:$red;
			@include transition(background 0.5s ease);
			color:$white;
		}
	}
}

.footer, #getinvolved {
	.button{
		a, a:visited {
			text-transform:none;
		}
	}
}

.twitter {
	list-style:none;
	a, a:visited {
	background:url(../img/twitter-icon.svg) top left no-repeat;
	background-size:38px auto;
	@include padding-left($a-scale-5);
	line-height:31px;
	display:inline-block;
	border:none;
	@include margin-bottom($p-margin-bottom);
	@include transition(none);
	span {
		border-bottom:1px solid $turquoise;
		display:inline;
	}
	&:hover {
		background-position:bottom left;
		@include transition(none);
		span {
			border-color:$red;
		}
	}	
	}
}

.linkedin {
	list-style:none;
	a, a:visited {
	background:url(../img/linkedin-icon.svg) top left no-repeat;
	background-size:38px auto;
	@include padding-left($a-scale-5);
	line-height:36.322px;
	display:inline-block;
	border:none;
	@include transition(none);
	span {
		border-bottom:1px solid $turquoise;
		display:inline;
	}
	&:hover {
		background-position:bottom left;
		@include transition(none);
		span {
			border-color:$red;
		}
	}
	}
}

/* blockquotes */
blockquote {
	font-style:italic;
	font-weight:400;
	@include margin-bottom($p-margin-bottom);
	p:before {
		content:"\201C";
	}
	p:after {
		content:"\201D";
	}
	footer, footer cite {
		font-style:normal;
		@include font-size($a-scale);
	}
}