---
layout: default
title: Historic Futures
published: true
body: archive
---


{% include nav.ext %}
  <div class="archivelist">
  <h1>Our thinking</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
    {% for post in site.posts limit:100  %}
    <section>
        <h2><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h2>
        <h3>By {{ post.author }} &mdash; {{ post.date | date: "%-d %B %Y" }}</h3>
	    {{ post.excerpt }}
    {% endfor %}
  </section>
  </div>

  {% include footer.ext %}
