---
layout: default
title: Welcome to Historic Futures - To make better products tomorrow, we must know where they come from today
published: true
body: landing
---
    <header id="introduction">
        <div class="logo"><img src="/img/logo.svg"></div>

        <div class="hero">
            <h1>Historic Futures</h1>

            <p>To make better products tomorrow, we must know where they come
            from today.</p>

            <p><a href="#whatwedo" title=
            "Skip to the What we are doing section">We make it possible</a> for
            companies to collect and manage value chain data, from primary
            production to finished product and to communicate good practice to
            their customers.</p>
        </div>
    </header>

    <nav>
        <ol>
            <li><a href="#whatwedo" title=
            "Skip to the What we are doing section">What we are doing</a></li>

            <li><a href="#whycare" title=
            "Skip to the Why should I care section">Why should I care?</a></li>

            <li><a href="#ourstory" title="Skip to the Our story section">Our
            story</a></li>

            <li><a href="#getinvolved" title=
            "Skip to the Our story section">Get involved</a></li>

            <li><a href="#ourthinking" title=
            "Skip to the Our thinking section">Our thinking</a></li>
        </ol>
    </nav>

  {% include blog-cta.ext %}

    <section id="whatwedo">
        <div class="inner">
            <div class="text-container">
                <h2>What we are doing</h2>

                <p>Knowing where products come from and how they got here is
                important – to consumers, to companies, to regulators, and to
                the planet.</p>

                <h3>We anticipate...</h3>
            </div>
        </div>

        <div class="bricks">
            <ul class="bricks-1">
                <li><span>The questions you have about your products require
                detail you don’t have?</span></li>

                <li><span>You need to find out about raw materials, but your
                immediate suppliers handle finished products?</span></li>

                <li><span>You need to know whether particular materials have
                entered your supply chain this week but the data you have is
                months old?</span></li>

                <li><span>You need to check that the product in your hand
                complies with relevant regulations, product claims and customer
                expectations?</span></li>

                <li><span>You need to know that those who helped make your
                product were fairly treated, and not just in the factory you
                bought from?</span></li>

                <li><span>You need to show that your product needed less energy
                and water to make?</span></li>
            </ul>
        </div>

        <div class="inner">
            <div class="text-container">
                <p>We make it possible for companies to collect and manage
                value chain data, from primary production to finished product
                and to communicate good practice to their customers.</p>

                <p>We work with any product, anywhere in the value chain, and
                don't judge specifications ("organic", "Fair Trade", "GMO"
                etc.) Our mission is to create a framework to measure value
                chain performance rather than define what that performance
                should be.</p>

                <h3>It's not impossible</h3>

                <p>The lack of accurate and complete information about the
                history of individual products makes informed sourcing
                decisions and reliable product claims impossible.</p>

                <p>We know that getting that information is hard to do, but it
                is possible - we’ve done it.</p>

                <p>We are currently working on a new solution, researching
                radically improved mechanisms for increasing the scale and
                efficiency of value chain mapping. Reducing the cost, expanding
                the reach and improving the benefits for all.</p>
            </div>
        </div>
    </section>

    <section id="whycare">
        <div class="inner">
            <div class="text-container">
                <h2>Why should I care?</h2>

                <p>We believe that value chain maps can unlock real business
                value. Understanding a product’s history reduces risk and
                provides an important and powerful opportunity to create
                sustainable value.</p>
            </div>

            <div class="bq-container">
                <blockquote>
                    <p>We have a real opportunity here to extend our leadership
                    in forest product certification by introducing innovative
                    yet proven technology to improve integrity, speed and
                    efficiency of the <abbr title=
                    "Forest Stewardship Council">FSC</abbr> certification
                    scheme</p>

                    <footer>
                        <cite>Phil Guillery, Systems Integrity Director at
                        FSC</cite>
                    </footer>
                </blockquote>
            </div>

            <div class="text-container">
                <h3>Our mission</h3>
            </div>
        </div>

        <div class="bricks">
            <ul class="bricks-2">
                <li><span>Better, more informed sourcing decisions</span></li>

                <li><span>Simplification of value chain structures</span></li>

                <li><span>Opportunities for lead time improvement</span></li>

                <li><span>Verifiable best practice stories for
                consumers</span></li>

                <li><span>Streamlined, product compliance and tariff
                management</span></li>
            </ul>
        </div>
    </section>

    <section id="ourstory">
        <div class="inner">
            <div class="text-container">
                <h2>Our story</h2>

                <p>Over the last ten years we have worked with some of the
                world’s largest brands and retailers to collect accurate data
                about millions of items from thousands of businesses throughout
                hundreds of value chains - from finished product back to raw
                material.</p>

                <p>We developed an online solution, called <a href=
                "http://stringtogether.com" title=
                "Visit the String website">String</a>, that allows
                organisations throughout the value chain to share selected
                information related to the products they make with the
                customers who buy them.</p>

                <p>String can be used to join the outputs from one organisation
                to the inputs of the next - building dynamic, accurate value
                chain maps for any product, no matter how complex.</p>
            </div>
        </div>
    </section>

    <section id="meetteam">
        <div class="inner">
            <h3>Meet the team</h3>
           <ul class="team">
                
                <li>
                    <div class="img-container">
                        <img src="/img/tim.jpg" alt="Picture of Tim Wilson" />
                    </div>
                    <div class="container">
                        <h4>Tim Wilson</h4>
                        <h5>Co-founder &amp; <abbr title="Chief Executive Officer">CEO</abbr></h5>
            
                        <p>Tim is a world leading expert in value-chain mapping, product integrity and traceability - focused on the strategic and operational opportunities and issues associated with transparent supply-chains and production systems.</p>
                        <ul>
                            <li><a href="#">Read Tim's journal</a></li>
                            <li>Contact Tim at: <a href="mailto:">tim.wilson@historicfutures.com</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <img src="/img/sw.jpg" alt="Picture of Simon Warrick" />
                    <h4>Simon Warrick</h4>
                    <h5>Co-founder &amp; Product Manager</h5>
            
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                </li>
                <li>
                    <img src="http://placehold.it/300x300" alt="Picture of Tim Wilson" />
                    <h4>Person Name</h4>
                    <h5>Job title</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                </li>
                <li>
                    <img src="http://placehold.it/300x300" alt="Picture of Tim Wilson" />
                    <h4>Person Name</h4>
                    <h5>Job title</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                </li>
                <li>
                    <img src="http://placehold.it/300x300" alt="Picture of Tim Wilson" />
                    <h4>Person Name</h4>
                    <h5>Job title</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                </li>
                <li>
                    <img src="http://placehold.it/300x300" alt="Picture of Tim Wilson" />
                    <h4>Person Name</h4>
                    <h5>Job title</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                </li>
                <li>
                    <img src="http://placehold.it/300x300" alt="Picture of Tim Wilson" />
                    <h4>Person Name</h4>
                    <h5>Job title</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                </li>
                <li>
                    <img src="http://placehold.it/300x300" alt="Picture of Tim Wilson" />
                    <h4>Person Name</h4>
                    <h5>Job title</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                </li>
                <li>
                    <img src="http://placehold.it/300x300" alt="Picture of Tim Wilson" />
                    <h4>Person Name</h4>
                    <h5>Job title</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                </li>
            
            </ul>
        </div>
    </section>

    <section id="getinvolved">
        <div class="inner">

            <div class="container1">
                <h2>Get involved</h2>
                <p>We want to learn more about the challenges and opportunities you face with regards to mapping your value chains - what data you think is actually required, how often and why? Throughout 2014 we are reviewing the ‘state-of-the-art’, analysing the underlying requirements and elaborating the business cases. We plan to share the output with those who have helped us as well as developing testing new ideas and techniques in real value-chains and reporting the results. We would love to hear from you.</p>
            </div>
            <div class="container2">
                <div class="inside">
                    <h3>Email us at</h3>
                <p class="button"><a href="#">research@historicfutures.com</a></p>
                <p>Please allow up to 3 working days for a response</p>
                <h3>Call us on</h3>
                <p><a href="#">+44 (0) 1993 886420</a></p>
                <p>Our <abbr title="United Kingdom">UK</abbr> office is open from 9am until 5pm, Monday to Friday</p>
                </div>
            </div>
        </div>
    </section>

{% for post in site.posts limit:1  %}
       <section id="ourthinking">
         <div class="inner">
            <h2>Our thinking</h2>
            <div class="container">
                <h3><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h3>
                  <p>{{ post.excerpt }}</p>
                <p><a href="{{ post.url }}" rel="bookmark">Read <em>{{ post.title }}</em> in full</a></p>
            </div>
        </div>
        </section>
    {% endfor %}

    {% include footer.ext %}



