---
layout: default
title: "Welcome to Historic Futures - To make better products tomorrow, we must know where they come from today"
published: true
body: landing
---

<header id="introduction">
        <div class="logo"> </div>

        <div class="hero">
            <h1>Historic Futures</h1>

            <p>To make better products tomorrow, we must know where they come
            from today.</p>

            <p><a href="#whatwedo" title=
            "Skip to the What we are doing section">We make it possible</a> for
            companies to collect and manage value chain data, from primary
            production to finished product and to communicate good practice to
            their customers.</p>
        </div>
    </header>
    <section id="string3-banner">
    <a href="http://www.getstring3.com" title="Find out about String3">

            <div class="img-container">
                <p class="string3-branding">String<sup>3</sup></p>
            </div>
            <div class="text-container1">
                <p>Find out where your products come from</p>

            </div>
            <div class="text-container2">

                <p class="faux-button">More about String3</p>
            </div>

    </a>
</section>

    <nav>
        <ol>
            <li><a href="#whatwedo" title=
            "Skip to the What we are doing section">What we are doing</a></li>

            <li><a href="#whycare" title=
            "Skip to the Why should I care section">Why should I care?</a></li>

            <li><a href="#ourstory" title="Skip to the Our story section">Our
            story</a></li>

            <li><a href="#getinvolved" title=
            "Skip to the Our story section">Get involved</a></li>

            <li><a href="#ourthinking" title=
            "Skip to the Our thinking section">Our thinking</a></li>
        </ol>
    </nav>

  {% include blog-cta.ext %}

    <section id="whatwedo">
        <div class="inner">
            <div class="text-container">
                <h2>What we are doing</h2>

                <p>Knowing where products come from and how they got here is
                important – to consumers, to companies, to regulators, and to
                the planet.</p>

            </div>
            <div class="video">
            <iframe src="//player.vimeo.com/video/102818943?title=0&amp;byline=0&amp;portrait=0&amp;color=138c8f" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
            <div class="text-container">

                <h3>We've learnt that...</h3>
            </div>
        </div>

        <div class="bricks">
            <ul class="bricks-1">
                <li><span>The questions you have about your products require
                detail you don’t have</span></li>

                <li><span>You need to find out about raw materials, but your
                immediate suppliers handle finished products</span></li>

                <li><span>You need to know whether particular materials have
                entered your supply chain this week but the data you have is
                months old</span></li>

                <li><span>You need to check that the product in your hand
                complies with relevant regulations, product claims and customer
                expectations</span></li>

                <li><span>You need to know that those who helped make your
                product were fairly treated, and not just in the factory you
                bought from</span></li>

                <li><span>You need to show that your product needed less energy
                and water to make</span></li>
            </ul>
        </div>

        <div class="inner">
            <div class="text-container">
                <p>We make it possible for companies to collect and manage
                value chain data, from primary production to finished product
                and to communicate good practice to their customers.</p>

                <p>We work with any product, anywhere in the value chain, and
                don't judge specifications ("organic", "Fair Trade", "GMO"
                etc.) Our mission is to create a framework to measure value
                chain performance rather than define what that performance
                should be.</p>

                <h3>It's not impossible</h3>

                <p>The lack of accurate and complete information about the
                history of individual products makes informed sourcing
                decisions and reliable product claims impossible.</p>

                <p>We know that getting that information is hard to do, but it
                is possible - we’ve done it.</p>

                <p>We have currently finished building our newest solution, String3. String3 radically simplifies supply chain intelligence gathering processes, facilitating risk management and due diligence.</p>
            </div>
        </div>
    </section>

    <section id="whycare">
        <div class="inner">
            <div class="text-container">
                <h2>Why should I care?</h2>

                <p>We believe that value chain maps can unlock real business
                value. Understanding a product’s history reduces risk and
                provides an important and powerful opportunity to create
                sustainable value.</p>
            </div>

            <div class="bq-container">
                <blockquote>
                    <p>We have a real opportunity here to extend our leadership
                    in forest product certification by introducing innovative
                    yet proven technology to improve integrity, speed and
                    efficiency of the <abbr title=
                    "Forest Stewardship Council">FSC</abbr> certification
                    scheme</p>

                    <footer>
                        <cite>Phil Guillery, Systems Integrity Director at
                        FSC</cite>
                    </footer>
                </blockquote>
            </div>

            <div class="text-container">
                <h3>Our mission</h3>
            </div>
        </div>

        <div class="bricks">
            <ul class="bricks-2">
                <li><span>Better, more informed sourcing decisions</span></li>

                <li><span>Simplification of value chain structures</span></li>

                <li><span>Opportunities for lead time improvement</span></li>

                <li><span>Verifiable best practice stories for
                consumers</span></li>

                <li><span>Streamlined, product compliance and tariff
                management</span></li>
            </ul>
        </div>
    </section>

    <section id="ourstory">
        <div class="inner">
            <div class="text-container">
                <h2>Our story</h2>

                <p>Over the last ten years we have worked with some of the world’s largest brands and retailers to collect accurate data about millions of items from thousands of businesses throughout hundreds of value chains - from finished product back to raw material.</p>

                <p>We developed an online solution, called String, that allows organisations throughout the value chain to share selected information related to the products they make with the customers who buy them. Many organisations are using <a href="http://stringtogether.com" title="Visit the String 2 website">String 2</a> to manage their data right now.</p>

                <p>Our learnings from String2 led us to create something much simpler in <a href="http://www.getstring3.com" title="Visit the String3 website">String3</a>.</p>

                <p>Questions like "which country did the raw materials come from that are in my product?" are very difficult to answer - many people in many organisations need to be involved to get reliable answers.</p>

                <p>String3 makes it simple - just ask your question to the organisation who supplied your product, and the system will do the rest - moving the question along, getting answers and keeping you informed of progress. </p>
            </div>
        </div>
    </section>
    <section id="iso">
        <div class="inner">
            <div class="img-container">
                <a class="img-link" href="http://www.iso.org/iso/home/standards/management-standards/iso27001.htm" title="Find out more about the ISO 27001 standard">
            <img src="img/ISO27001.png" alt="ISO27001 logo" />
        </a>
        </div>
        <div class="text-container">
            <p>We are delighted to have achieved formal certification for the <a href="http://www.iso.org/iso/home/standards/management-standards/iso27001.htm" title="Find out more about the ISO 27001 standard">ISO 27001 Information Security Management Systems standard</a>.  This certification demonstrates our commitment not only to the security and control of our customers’ data, but also our serious commitment to information security and safety of client data to our growing global customer base. </p>
        </div>
        </div>
    </section>

    <section id="meetteam">
        <div class="inner">
            <h3>Meet the team</h3>
           <ul class="team">

                <li>
                    <div class="img-container">
                        <img src="/img/tim.jpg" alt="Picture of Tim" />
                    </div>
                    <div class="container">
                        <h4>Tim</h4>
                        <h5>Co-founder &amp; <abbr title="Chief Executive Officer">Director</abbr></h5>

                        <p>Tim is an expert in value-chain mapping, product integrity and traceability &mdash; focused on the strategic and operational opportunities associated with transparent supply-chains and production systems. He has been leading Historic Futures for over 11 years.</p>
                        <ul>
                            <li><a href="/archive.html">Read Tim's journal</a></li>
                            <li>Contact Tim at: <a href="mailto:&#116;&#105;&#109;&#46;&#119;&#105;&#108;&#115;&#111;&#110;&#64;&#104;&#105;&#115;&#116;&#111;&#114;&#105;&#99;&#102;&#117;&#116;&#117;&#114;&#101;&#115;&#46;&#99;&#111;&#109;">&#116;&#105;&#109;&#46;&#119;&#105;&#108;&#115;&#111;&#110;&#64;&#104;&#105;&#115;&#116;&#111;&#114;&#105;&#99;&#102;&#117;&#116;&#117;&#114;&#101;&#115;&#46;&#99;&#111;&#109;</a></li>
                        </ul>
                    </div>
                </li>
                 <li>
                    <img src="/img/julie.jpg" alt="Picture of Julie" />
                    <h4>Julie</h4>
                    <h5>Operations Director</h5>
                    <p>Julie is a qualified project manager, responsible for delivering our world leading products that drive integrity and transparency in supply chains.  Julie has been working for Historic Futures since 2010.</p>
                </li>

                 <li>
                    <img src="/img/sw.jpg" alt="Picture of Simon" />
                    <h4>Simon</h4>
                    <h5>Co-founder &amp; Product Manager</h5>

                    <p>Simon co-founded Historic Futures and has been working on the development of technology to enable improved data flow in value-chains for well over a decade. During that time he has travelled to those parts of the world where things actually get made today, to understand the real-life challenges of delivering technology solutions that fit with how people work.</p>
                </li>
                <li>
                     <img src="/img/as.jpg" alt="Picture of Aidan"/>
                    <h4>Aidan</h4>
                    <h5>Tech Lead</h5>
                    <p>Aidan joined Historic Futures in 2015 after 15 years working with or on open source software for a variety of companies. He enjoys making software with people and seeing how people use it in unexpected ways.</p>
                </li>
                <li>
                    <img src="/img/h.jpg" alt="Picture of Hannah" />
                    <h4>Hannah</h4>
                    <h5>Product Marketing Manager</h5>
                    <p>Hannah is an experienced communications and project manager who works on research and development, finding out what data people need, why and what the solutions should be. Hannah joined the team in January 2014.</p>
                </li>
                <li>
                    <img src="/img/d.jpg" alt="Picture of Dawn" />
                    <h4>Dawn</h4>
                    <h5>IT Service Delivery Manager</h5>
                    <p>Dawn joined Historic Futures in 2015 and has extensive management experience across a variety of technical and business projects in Europe and the USA. She is responsible for the quality of live service delivery, support of core services and driving process improvement.</p>
                </li>

                <li>
                    <img src="/img/hz.jpg" alt="Picture of Huzeyfe" />
                    <h4>Huzeyfe</h4>
                    <h5>Software Engineer</h5>
                    <p>Huzeyfe is a Senior Software Developer with around 10 years hands-on experience in various industries including Banking, Telecommunications and Finance who is responsible for providing high quality software for the world's leading products. Huzeyfe joined the Historic Futures team in February 2013.</p>
                </li>
                <li>
                     <img src="/img/p.jpg" alt="Picture of Piotr" />
                    <h4>Piotr</h4>
                    <h5>Software Engineer</h5>
                    <p>Piotr is responsible for delivering working software. He joined Historic Futures in 2010.</p>
                </li>
                <li>
                    <img src="/img/rok.jpg" alt="Picture of Rachel Oxton-King" />
                    <h4>Rachel</h4>
                    <h5>Design Lead</h5>
                    <p>Rach is responsible for the design of <a href="http://getstring3.com" title="Visit the String3 website">String3</a> and tries very hard to make complicated things simple and beautiful.</p>
                </li>
                <li>
                    <img src="/img/j.jpg" alt="Picture of James" />
                    <h4>James</h4>
                    <h5>Technical Consultant</h5>
                    <p>James has over 15 years of experience leading software teams from billion dollar multinationals to pre-seed start-ups.<br>
 James is passionate about lean and agile methodology, Hypermedia APIs, python and cloud computing.</p>
                </li>



                <li>
                     <img src="/img/c.jpg" alt="Picture of Charlotte"/>
                    <h4>Charlotte</h4>
                    <h5>Tester and Customer Support Advisor</h5>
                    <p>Charlotte joined the team as an intern in 2013 and returned to a full-time position the following year. She is now responsible for product testing and customer support for our project developing the FSC’s Online Claims Platform. She is working with us alongside completing a Masters degree in Sustainable Development and Climate Change at the University of Exeter.</p>
                </li>

                <li>
                     <img src="/img/v.jpg" alt="Picture of Vanessa"/>
                    <h4>Vanessa</h4>
                    <h5>Apparel Specialist</h5>
                    <p>Vanessa joined Historic Futures in June 2014.  She has 14 years experience of working in the global fashion and textiles industry, specialising in ethical fashion for the last 9 years.  She is responsible for co-ordinating engagement with organisations across the apparel sector.</p>
                </li>

               <li>
                     <img src="/img/g.jpg" alt="Picture of Gemma"/>
                    <h4>Gemma</h4>
                    <h5>Mining & Minerals Specialist</h5>
                    <p>Gemma is experienced in working with miners, refiners and retailers working with precious metals and minerals. She joined the team in 2014 to support piloting development of historic futures work in this area.</p>
                </li>

            </ul>
        </div>
    </section>

    <section id="getinvolved">
        <div class="inner">

            <div class="container1">
                <h2>Get involved</h2>
                <h3>Sign up for our mailing list</h3>
                <p>We will send you occasional newsletters about what we're up to at Historic Futures. We won't ever spam you or sell your data.</p>
                <form action="//getstring3.us1.list-manage.com/subscribe/post?u=5c9c3b09ebd6cc6984ad02f3a&amp;id=a5f3a2b3dc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">


                <div class="mc-field-group">
                	<label for="mce-EMAIL">Email Address
                </label>
                	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div class="mc-field-group">
                	<label for="mce-FNAME">First Name (optional) </label>
                	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                </div>
                <div class="mc-field-group">
                	<label for="mce-LNAME">Last Name (optional)</label>
                	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                </div>
                <div class="mc-field-group">
                	<label for="mce-MMERGE3">Organisation (optional)</label>
                	<input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
                </div>
                <div class="mc-field-group input-group hidden">
                		<strong>Would you like to receive our newsletter? </strong>
                		<ul><li><input type="radio" checked="checked" value="1" name="group[6381]" id="mce-group[6381]-6381-0"><label for="mce-group[6381]-6381-0">Yes</label></li>
                <li><input type="radio" value="2" name="group[6381]" id="mce-group[6381]-6381-1"><label for="mce-group[6381]-6381-1">No</label></li>
                </ul>
                </div>
                	<div id="mce-responses" class="clear">
                		<div class="response" id="mce-error-response" style="display:none"></div>
                		<div class="response" id="mce-success-response" style="display:none"></div>
                	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_5c9c3b09ebd6cc6984ad02f3a_a5f3a2b3dc" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"><input type="hidden" name="SIGNUP" id="SIGNUP" value="hf-website"/></div>
                    </div>
                </form>
            </div>
            <div class="container2">
                <div class="inside">
                    <h3>What information do you need about value chains?</h3>
                    <p>We want to learn more about the challenges and opportunities you face with regards to mapping your value chains - what data you think is actually required, how often and why? We are reviewing the ‘state-of-the-art’, analysing the underlying requirements and elaborating the business cases. We would love to hear from you.</p>
                <p class="button"><a href="https://www.surveymonkey.com/s/ValueChainMapping">Take our survey</a></p>

                <h4>Email us</h4>
                <p><a href="mailto:&#114;&#101;&#115;&#101;&#97;&#114;&#99;&#104;&#64;&#104;&#105;&#115;&#116;&#111;&#114;&#105;&#99;&#102;&#117;&#116;&#117;&#114;&#101;&#115;&#46;&#99;&#111;&#109;">&#114;&#101;&#115;&#101;&#97;&#114;&#99;&#104;&#64;&#104;&#105;&#115;&#116;&#111;&#114;&#105;&#99;&#102;&#117;&#116;&#117;&#114;&#101;&#115;&#46;&#99;&#111;&#109;</a></p>
                <p class="info">Please allow up to 3 working days for a response</p>
                </div>
            </div>
        </div>
    </section>

{% for post in site.posts limit:1  %}
       <section id="ourthinking">
         <div class="inner">
            <h2>Our thinking</h2>
            <div class="container">
                <h3><a href="{{ post.url }}" rel="bookmark">{{ post.title }}{% if post.subtitle %}: {{ post.subtitle }}{% endif %}</a></h3>
                  <p>{{ post.excerpt }}</p>
                <p><a href="{{ post.url }}" rel="bookmark">Read <em>{{ post.title }}</em> in full</a></p>
            </div>
        </div>
        </section>
    {% endfor %}

    {% include footer.ext %}
